@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    height: 350px;
    width: 100%;
}

.main-wrapper {
    height: 1000px;
}

li {
    list-style: none;
    float: right;
    padding: 20px 30px;
}

a {
    list-style: none;
}

nav a {
    color: black;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    padding-right: 0.5em;
}

nav a:hover {
    font-weight: bold;
}

nav .ProfileImg img {
    width: 50px;
    height: auto;
    margin-top: -20px;
    right: 20px;
}

header {
    position: fixed;
    color: black;
    height: 70px;
    border-bottom: 3px solid #D9CAB3;
    background-color: white;
    width: 100%;
    padding: 10px 0px;
    top: 0px;
}

.header-logo {
    float: left;
    padding: 5px 40px;
}

.header-logo a {
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    line-height: 34px;
}

.header-logo {
    float: left;
    padding: 5px 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}

.top-wrapper img {
    margin: auto;
    object-fit: cover;
    max-width: auto;
    position: absolute;
    width: 100%;
    height: 588px;
    left: 0px;
    top: 93px;
    margin-top: 0px;
    border-radius: 0px 0px 20px 20px;
    z-index: -1;
}

.about-us {
    position: absolute;
    width: 94px;
    height: 23px;
    left: 1054px;
    top: 33px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.login {
    position: relative;
    width: 58.98px;
    height: 25.28px;
    left: 1324.09px;
    top: 30.36px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.search-box {
    position: absolute;
    width: 658px;
    height: 74px;
    left: 57px;
    top: 453px;
    background: #F2F4F8;
    border-radius: 12px;
    filter: drop-shadow(13px 16px 30px rgba(0, 0, 0, 0.4));
    z-index: -1;
}

.search-icon {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 24px;
    top: 30px;
    color: #A29D9D;
}

.input-search {
    position: absolute;
    width: 462px;
    height: 26px;
    left: 58px;
    top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    border-style: none;
    background-color: #F2F4F8;
    color: #A19D9D;
}

.search-line {
    position: absolute;
    width: 40.01px;
    height: 0px;
    left: 520px;
    top: 37px;
    border: 1px solid #A19D9D;
    transform: rotate(90deg);
}

.filters-content {
    position: relative;
    width: 56px;
    height: 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */
    color: #6D9886;
}

.filters-word {
    left: 562px;
    top: 27px;
}

.down-filters {
    position: absolute;
    width: 115px;
    height: 134px;
    right: 0px;
    top: 63px;
    background: #F2F4F8;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 12px 12px;
}

.location {
    left: 13px;
    top: 15px;
}

.price {
    left: 30px;
    top: 30px;
}

.rating {
    left: 23px;
    top: 45px;
}

.filters-line {
    position: absolute;
    width: 90px;
    height: 0px;
    border: 1px solid #A19D9D;
}

.line-1 {
    left: 10px;
    top: 45px;
}

.line-2 {
    left: 10px;
    top: 85px;
}

.fas {
    position: absolute;
    left: 16.67%;
    right: 33.33%;
    top: 33.33%;
    bottom: 35.79%;
    background: #6D9886;
    border: 2px solid #6D9886;
    box-sizing: border-box;
}

.top-wrapper h1 {
    position: absolute;
    width: 462px;
    height: 224px;
    left: 57px;
    top: 103px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: #FFFFFF;
    z-index: -1;
}

.recommend-heading {
    position: absolute;
    width: 435px;
    height: 116px;
    left: 57px;
    top: 748px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 61px;
    color: #000000;
}

.cafe {
    position: absolute;
    width: 203px;
    height: 273.61px;
    left: 0px;
    top: 0px;
}

.roketto {
    position: absolute;
    width: 203px;
    height: 273.61px;
    left: 636px;
    top: 757px;
    background: #D9CAB3;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.roketto-pic {
    position: absolute;
    width: 133.49px;
    height: 133.49px;
    left: 35.3px;
    top: 26.48px;
}

.suaco {
    position: absolute;
    width: 203px;
    height: 273.61px;
    left: 869px;
    top: 757px;
    background: #D9CAB3;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.suaco-pic {
    position: absolute;
    width: 133.49px;
    height: 133.49px;
    left: 35.3px;
    top: 26.48px;
}

.dialoogi {
    position: absolute;
    width: 203px;
    height: 273.61px;
    left: 1102px;
    top: 757px;
    background: #D9CAB3;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.dialoogi-pic {
    position: absolute;
    width: 133.49px;
    height: 133.49px;
    left: 35.3px;
    top: 26.48px;
}

.SocialMedia {
    margin: 30px;
}

.fa-angle-down {
    position: absolute;
    left: 96%;
    right: 33.33%;
    top: 44%;
    bottom: 35.79%;
    color: #6D9886;
}

.name {
    position: absolute;
    width: 61.78px;
    height: 19.86px;
    left: 80px;
    top: 160px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.name a {
    color: black;
}

.fa-heart {
    position: absolute;
    width: 10px;
    height: 9px;
    left: 54px;
    bottom: 55px;
}

.distance {
    position: absolute;
    width: 17px;
    height: 12px;
    left: 139px;
    top: 197px;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.fa-dollar-sign {
    position: absolute;
    width: 13.24px;
    height: 12.14px;
    left: 98px;
    top: 208.31px;
}

.value {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}

.love {
    position: absolute;
    width: 10px;
    height: 9px;
    left: 49px;
    bottom: 10px;
}

.money {
    position: absolute;
    width: 10px;
    height: 9px;
    left: 90px;
    bottom: 10px;
}

.km {
    position: absolute;
    width: 10px;
    height: 9px;
    left: 139px;
    bottom: 10px;
}

.arrow-box-left {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 570px;
    top: 866px;
    border-radius: 50%;
    background: #6D9886;
}

.fa-angle-left {
    position: absolute;
    left: 33%;
    right: 51.38%;
    top: 22%;
    bottom: 8.75%;
    color: #FFFFFF;
}

.arrow-box-right {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 1320px;
    top: 867px;
    border-radius: 50%;
    background: #6D9886;
}

.fa-angle-right {
    position: absolute;
    left: 38%;
    right: 51.38%;
    top: 22%;
    bottom: 8.75%;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: white;
}

.discover {
    background: #6D9886;
    border-radius: 50px;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.box .column {
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    float: left;
    color: white;
    background-color: #6D9886;
    font-size: larger;
    padding-bottom: 20px;
    border-bottom: 5px solid #D9CAB3;
}

footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 0px;
    top: 970px;
    color: white;
    background-color: #6D9886;
    text-align: center;
    border-top: 20px solid #D9CAB3;
    width: 100%;
}

@media all and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}


/* Untuk Smartphone */

@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }
    .menu-icon {
        display: block;
    }
}

@media all and (max-width: 1366px) {
    .container {
        width: 100%;
    }
}