@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    float: right;
    padding: 20px 30px;
}

nav a {
    color: black;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    padding-right: 0.5em;
}

nav .ProfileImg img {
    width: 50px;
    height: auto;
    margin-top: -20px;
    right: 20px;
}

header {
    position: fixed;
    color: black;
    height: 70px;
    border-bottom: 3px solid #D9CAB3;
    background-color: white;
    width: 100%;
    padding: 10px 0px;
    z-index: 1;
}

.header-logo {
    float: left;
    padding: 5px 40px;
}

.header-logo a {
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    line-height: 34px;
}

.Object-Left {
    float: left;
    width: 35%;
    margin-top: 10em;
    margin-right: 0em;
}

.Text1 {
    font-size: 3em;
    line-height: 60px;
    font-weight: bold;
}

.Text2 {
    line-height: 30px;
    font-weight: 400;
    font-size: 1.25em;
    color: gray;
}

.Wrapper {
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

.discover {
    background: #6D9886;
    border-radius: 50px;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Object-Left a:hover {
    background-color: black;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.Object-Right {
    float: right;
    width: 65%;
}

img {
    width: 130%;
    height: auto;
}

.SocialMedia {
    margin: 30px;
}

footer {
    padding: 0.1px;
    color: white;
    background-color: #6D9886;
    text-align: center;
    border-top: 20px solid #D9CAB3;
}

nav a:hover {
    font-weight: bold;
}

.box .column {
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    float: left;
    color: white;
    background-color: #6D9886;
    font-size: larger;
    padding-bottom: 20px;
    border-bottom: 5px solid #D9CAB3;
}

a {
    text-decoration: none;
    color: white;
}

.SocialMedia {
    width: 15%;
    height: auto;
    margin-top: 100px;
    margin-left: 600px;
    margin-bottom: 30px;
}

@media screen and (max-width:1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}
